<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.jacob.picture"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".PictureDemoOne"/>
        <activity android:name=".PictureDemoTwo"/>
        <activity android:name=".PictureDemoThree"/>
        <activity android:name=".xyMatrix.PictureMatrixDemo"/>
        <activity android:name=".xfermode.PictureXfermodeDemo"/>
        <activity android:name=".shader.PictureBitmapShaderDemo"/>
        <activity android:name=".reflect.PictureReflectDemo"/>
        <activity android:name=".bitmapmesh.BitmapMeshDemo"/>

    </application>

</manifest>
